
h1{
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 80%;
    height: 10vh;
    border: 2px solid #0f0;
}

h2{
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 80%;
    height: 10vh;
    border: 2px solid #0f0;
}

table{
    width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

thead{
    background-color: #009879;
  color: #6f0f0f;
}

th{
    padding: 12px 15px;
  border: 1px solid #dddddd;
}

tr{
    &:nth-child(even) {
        background-color: #f3f3f3;
      }
      &:nth-child(odd) {
        background-color: #ffffff;
      }
}

td{
    padding: 12px 15px;
  border: 1px solid #dddddd;
}

